<h1><%= link_to "Home", :controller => 'main', :action => 'index' %> >> <%= link_to "Articles", admin_articles_path %> >> New article</h1>
<p><h4>Instructions</h4>
	
	<ol>
		<li>Enter the article information in the fields below. All information is required.
			<br /><br /><i>Tips for completing the "Body" of the article:
				<ul style="list-style: disc inside none">
					<li>All URLs, links, and e-mail addresses will automatically be turned into clickable links on the website</li>
					<li>Paragraph breaks and extra spaces will be respected</li>
					<li>For extra formatting, use HTML. For example, use &lt;b&gt;...&lt;&#47;b&gt; for bold text and &lt;i&gt;...&lt;&#47;i&gt; for italicized text</li>
				</ul></i>
		</li>
		<li>If you consider the article you are adding to be fairly urgent, check the "This is an important article" box to color the article red on the site</li>
		<li>To upload an image to attach to the article, use the Image uploader beneath the article text box. The field Image Text may be used for descriptive text regarding the image. The image, once uploaded, will be automatically resized and added to the system, as well as attached to the listhost e-mail if you choose to deliver the message.</li>
		<li>To prevent the article from being delivered to the listhost, check the last box
			<br /><br /><i>Tips regarding the listhost
				<ul style="list-style: disc inside none">
					<li>It is recommended that <b>all articles be delivered to the listhost</b> unless there is a compelling reason to not do so. Subscribers to the listhost are informed that they will receive all articles via e-mail, so this engagement should be maintained whenever possible</li>
					<li>E-mails will be sent immediately and the operation cannot be canceled</li>
					<li>At this time, it is not possible to send an article to the listhost later, after its having been added to the site. A workaround is to send the article as a single message, however, please see the first note above</li>
				</ul></i>
		</li>
		<li>To edit or delete and article after it has been posted, return to the admin site. Listhost e-mails containing article text cannot be "undelivered"!</li>
	</ol>
</p>


<%= form_for @article, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
	<%= f.label :image %>
	<%= f.file_field :image %>
  </p>
  <p>
	<%= f.label :image_text %><br />
	<%= f.text_area :image_text, :cols => 40, :rows => 5 %>
  </p>
  <p>
	<%= f.check_box :important %>
	<%= f.label :important, "This is an important article" %>
	
  </p>

<p>
	<%= f.check_box :no_mail %>
	<%= f.label :no_mail, "To prevent this article from being sent to the listhost upon being posted, check this box (<b>Please see the bolded note above before checking this box</b>)".html_safe %>

  </p>
    <%= f.submit "Preview Article" %>
  </p>
<% end %>

