<!DOCTYPE html>
<html>

<head>
	<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAA3Gs677SBA_xNY88vrwIhMxTJQa0g3IQ9GZqIMmInSLzwtGDKaBSMOGfs56xvAPcG0xCxa28NX1G75g"></script>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.1/mootools-yui-compressed.js"></script>

	
	<%= javascript_include_tag 'application' %>
	
	<%= yield :extra_js %>
	
  	<%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag 'main' %>
	
	<%= yield :extra_css %>
	
	<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAA3Gs677SBA_xNY88vrwIhMxTJQa0g3IQ9GZqIMmInSLzwtGDKaBSMOGfs56xvAPcG0xCxa28NX1G75g"></script>
	<script type="text/javascript">
		/*window.addEvent('domready', function(){
			slider = new Fx.Slide('form_box');
			slider.hide();
		})*/
		window.addEvent('domready', function() {
		  forms_setup();
		});
	</script>
	
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	
	<title>Northern Laramie Range Alliance <%= yield :title %></title>
</head>

<body>
	
	<div id="header_bg"></div>
	
	<div id="wrapper">
		
		<div id="header_top">
			
		<div id="nav">
		
				<ul>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "About", :controller => "main", :action => "about" %></li>
					<li><%= link_to "Calendar", :controller => "calendar", :action => "index" %></li>
					<li><%= link_to "News".html_safe, articles_path %></li>
					<li><%= link_to "Documents", documents_path %></li>
				</ul>
				

		</div>
		
		</div>
		
		<div id="header_bottom" style="position: relative"><div id="header_bg_below"></div></div>
		
		
		<div id="body">
			
			<%= render :partial => 'main/rightbar' unless not @rightbar_visible %>
			
			<div id="body-header">
				<%= content_for :body_header %>
			</div>
			
			<div id="body-content">
		
			<%= yield %>
			
			</div>
	
		</div>
		
		<%= yield :under_body %>
		
		<div id="footer">
			
			<%= render :partial => 'main/footer' %>
			
		</div>
	
	</div>
	
</body>
</html>